*{
    margin: 0;
    padding: 0;

}
#container2{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;


}

.img1{
    margin: 10px;
    padding: 5px;
    height: 400px;
    width: 400px;
}
.text{
    text-align: center;
    font-size: 30px;
}