*{
    margin: 0;
    padding: 0;
}

/*Index*/
@font-face{
    font-family: 'rocketLeague';
    src: url(../assets/fuentes/Bourgeois-Light.ttf);
}

body{
    font-family: rocketLeague;
    overflow-x: hidden;
}

#index__header1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    background-color: cyan;
}

#index__titulo{
    display: flex;
    flex-direction: row;
    height: 190px;
    justify-content: center;
    align-items: center;
}

#index__titulo img{
    height: 100px;
}

#index__titulo h1{
    font-size: 90px;
}

#index__menu{
    height: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#index__menuFinal{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#index__menu a{
    width: 20%;
    background-color: blue;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: solid 3px black;
    transition: all, .4s;
}

#index__menu a:hover{
    background-color: aliceblue;
    color: black;
    transform: scale(1.1, 1.1);
}

#index__header2 img{
    width: 250px;
}

#index__header2{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

#index__animacion{
    background-color: gray;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 30px 0px 30px 0px;
    overflow: hidden;
}

#index__objAnimado{
    width: 20%;
    display: flex;
    animation: desplazar, 2s, infinite;
}

#index__objAnimado img{
    width: 100%;
}

@keyframes desplazar{
    from{
        transform: translate(-400px);
    }to{
        transform: translate(1600px);
    }
}

#index__inicio{
    display: flex;
    flex-direction: row;
}

#index__inicio div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#index__inicio p{
    font-size: 25px;
    padding: 80px;
}

#index__inicio img{
    border-radius: 20px;
    width: 95%;
}

